body{
    font-family: 'Poppins', sans-serif;
}
.fa-check-circle{
    color: grey;
}
.fa-check-circle-blue{
    color: cadetblue;
}
.shelby-card-border-radius{
    border-radius: 26px;
}
.shelby-card-header-color{
    color: #231D4F;
}
